/* font */
  @font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 100;
    src: url("/font/Sofia/SofiaProRegularAz.otf");
  }

  @font-face {
    font-family: 'Sofia Pro Light';
    font-style: normal;
    font-weight: 100;
    src: url("/font/Sofia/SofiaProLightAz.otf");
  }

  @font-face {
    font-family: 'Sofia Pro Bold';
    font-style: normal;
    font-weight: 100;
    src: url("/font/Sofia/SofiaProBlackAz.otf");
  }


body, html {
    height: 100%;
    margin: 0;
    background-color: #C5CBE3;
    font-family: 'sofia Pro';
  }

/* nav */
.navLeft{
    margin-right: 200px;
}

.mr-50{
    margin-right: 50px;
}

.mt-50{
  margin-top: 50px;
}

/* home body 1 */

  
  .body1 {
    /* The image used */
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.99) ), url("../image/kia.jpg");
  
    /* Full height */
    min-height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .body1 {
    color: white;
}

.body1a{
    margin: 250px 0px 0px 150px;
    width: 50%;
}

.body1a p{
    font-size: 20px;
}

.btnbody1{
    font-size: 20px;
}


  /* body2 */

.body2{
  min-height: 100%;
}

.body2a{
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding:25px;
  margin-bottom: 25px;
  text-align: center;
  font-size: large;
  min-height: 300px;
  cursor: pointer;
}

.imageWidth{
  width: auto;
    max-width: 100%;
    height: auto;
    padding: 0px;
    border: none;
    line-height: normal;
    vertical-align: middle;
}

.product{
  margin-top: 10px;
  font-size: 43px;
}

.productPsize{
  font-size: 16px;
}

/* body3 */
.chooseus{
  margin-top: 50px;
  font-size: 43px;
  color: white;
}

.colorYellow{
  color: #D79922;
}

.colorYellow:hover{
  color:white;
  cursor: pointer;
}


.awesomeCss{
  font-size: 40px;
}

.chooseusBody{
  margin-top: 80px;
}


/* body 4 */
.body4{
  min-height: 60%;
  background-color: #D79922;
}

.box {
  width: 80%;
  min-height: 75px;
  background-color: white;
  color: #000;
  padding: 20px;
  position: relative;
  margin: 40px;
  float: left;
  border-radius: 20px;
}

.box.arrow-bottom:after {
  content: " ";
  position: absolute;
  right: 30px;
  bottom: -15px;
  border-top: 15px solid white;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: none;
}

.box span{
  color: #D79922;
  font-size: 30px;
}


/* message from Continental Team */

.body5{
  min-height: 100%;
  color: #dbdbdb;
}

.message{
  margin-top: 30px;
  font-size: 38px;
}

.mesageBlock{
  margin: auto;
  border-radius: 20px;
  max-width: 85%;
  min-height: 520px;
  border-style: solid;
  border-color: #007BFF;
}

.messageRow{
  margin-top: 30px;
}

.imageCurve{
  border-radius: 20px 20px 0px 0px;
}


/* body 6 footer */
.body6{
  min-height: 40%;
  background-color: #202020;
}

.socioicon{
  font-size: 36px;
}

.faicon-facebook, .faicon-twitter, .faicon-dribble, .faicon-linkedin{
  color: #fff;
}


.faicon-facebook:hover{
  color: #3b5998 ;
}

.faicon-twitter:hover{
  color: #00acee ;
}

.faicon-dribble:hover{
  color: #ea4c89 ;
}

.faicon-linkedin:hover{
  color: #0e76a8 ;
}




/* big device */
@media only screen and (min-width: 1150px) {
  .navwebmargin{
    margin-left: 140px; 
  }
}

/* small device */
@media only screen and (max-width: 1150px) {
    .body1a{
        margin: 50px 0px 0px 20px;
        width: 80%;
    }

    .chooseusBody {
      margin-top: 50px;
  }


}




